bucket                      = "yc-hxlt-state"
key                         = "hexlet-remote-state"
access_key                  = "YCAJEh-taawj2yMQybutvgrDG"
secret_key                  = "YCNOuV-vQBRSWj7GPZF0WdbimPsprnRudzCgGknx"
dynamodb_endpoint           = "https://docapi.serverless.yandexcloud.net/ru-central1/b1gp80kbkjoiq5ar7kr0/etnkgvkhehamik5d6c13"
dynamodb_table              = "lock"