variable "yc_token" {
  description = "API для YC"
  type = string
  default = "y0_AgAAAAAQlPqHAATuwQAAAAELozq_AAChKZmliFpEKJc26sKdaD0khlN9sw"
  sensitive = true
}

variable "folderID" {
  description = "Folder ID"
  type        = string
  default     = "b1go7f4cj7d0ubcpu3m0"
  sensitive = true  
}
 

variable "yc_postgresql_version" {
  type        = string
  default     = "14"
}


variable "db_name" {
  type        = string
  default     = "hexlet"
  sensitive = true   
}

variable "db_user" {
  type        = string
  default     = "me"
  sensitive = true   
}

variable "db_password" {
  type        = string
  default     = "bvcdV6sdBS7AXZs"
  sensitive = true   
}



variable "web-servers" {
  default = {
    "yc-web-1" = {
      name = "yc-web-1"
      hostname = "yc-web-1"

    },
    "yc-web-2" = {
      name = "yc-web-2"
      hostname = "yc-web-2"
    }
  }   
}