variable "yc_token" {
  description = "API для YC"
  type = string
  default = ""
  sensitive = true
}

variable "folderID" {
  description = "Folder ID"
  type        = string
  default     = ""
  sensitive = true  
}
 

variable "yc_postgresql_version" {
  type        = string
  default     = "14"
}


variable "db_name" {
  type        = string
  default     = ""
  sensitive = true   
}

variable "db_user" {
  type        = string
  default     = ""
  sensitive = true   
}

variable "db_password" {
  type        = string
  default     = ""
  sensitive = true   
}



variable "web-servers" {
  default = {
    "yc-web-1" = {
      name = "yc-web-1"
      hostname = "yc-web-1"
      nat = false

    },
    "yc-web-2" = {
      name = "yc-web-2"
      hostname = "yc-web-2"
      nat = false
    }
    
    "yc-lb-1" = {
      name = "yc-lb-1"
      hostname = "yc-lb-1"
      nat = true
    }


  }   
}