upstream redmine {
    ip_hash;
    server yc-web-1;
    server yc-web-2;
}

server {
    listen			443 ssl;
    server_name			hexlet.azxs.ru;
    ssl_certificate		/etc/nginx/keys/cert.crt;
    ssl_certificate_key		/etc/nginx/keys/key.key;
    ssl_protocols		TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers			HIGH:!aNULL:!MD5;

    location / {
	proxy_pass http://redmine;
    }

}





